
<%= form_with model: @competition do |f| %>
  <%= display_form_errors(@competition) %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <label for="image" class="field-group-label"> Add Image</label>
  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="form-btn-wrapper bg-sec">
    <%= f.submit "#{locals[:submit_btn_text]}", class: 'form-btn bg-sec' %>
  </div>
<% end %>
