<%= form_with(model: @user, local: true) do |f| %>
  <%= display_form_errors(@user) %>
  <div class="field">
    <%= f.text_field :name, placeholder: :name, required: true %>
  </div>

  <label for="image" class="field-group-label"> Profile Image</label>
  <div class="field">
    <%= f.file_field :image, required: true %>
  </div>

  <div class="form-btn-wrapper bg-sec">
    <%= f.submit "#{locals[:submit_btn_text]}", class: 'form-btn bg-sec' %>
  </div>
<% end %>
