<%= form_with model: @goal do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, 'error') %> prohibited this goal from signing up:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= f.number_field :amount, placeholder: "Number of goals" %>
  </div>

  <%= f.label "Categorise your goal", class: "field-group-label"%>
  <div class="field-group">

    <% @groups.each do |group| %>
      <div class="check-item">
        <input type="checkbox" name="group_ids[]" value="<%= group.id %>" />
        <%= group.name.capitalize %>
        </div>
    <% end %>
  </div>

  <div class="form-btn-wrapper bg-sec">
    <%= f.submit "#{locals[:submit_btn_text]}", class: "form-btn bg-sec" %>
  </div>
<% end %>
