<nav class="main-nav">
  <div class="left-nav">
    <%= link_to image_tag("actra-wh-01.png", width: 80), root_path %>
    <%= link_to "NEW COMPETITION", new_competition_path %>
    <%= link_to "NEW GOAL STYLE", new_group_path %>
    <%= link_to "GOALS", goals_path %>
    <%= link_to "ADD GOAL", new_goal_path %>
  </div>
  <div class="right-nav">
    <%= display_login_navigation %>
  </div>
</nav>
